<template>
	<section class="bottom-bar" :class="{ 'is-found': found }">
		<transition mode="out-in">
			<p v-if="!found" class="bottom-bar__msg">Searching...</p>
			<button v-else class="accept-btn">Accept</button>
		</transition>

		<div class="bottom-bar__timer">
			<span>00:0{{ secondsLeft }}</span>
			<button>
				<icon label="cancel" name="close" :light="true" />
			</button>
		</div>
	</section>
</template>

<script>
import Icon from '~/components/icon/icon'
export default {
	components: {
		Icon
	},
	props: {
		found: {
			type: Boolean,
			default: false,
			required: false
		}
	},
	data() {
		return {
			secondsLeft: 9,
			interval: ''
		}
	},
	mounted() {
		this.interval = setInterval(() => {
			this.timerCount()
		}, 1000)
	},
	methods: {
		timerCount() {
			if (this.secondsLeft > 0) {
				this.secondsLeft--
			} else {
				clearInterval(this.interval)
			}
		}
	}
}
</script>

<style lang="scss" scoped>
@import 'bottom-bar';
</style>
