.bottom-bar {
	@apply bg-darker text-bright py-8 px-6 flex justify-between items-center fixed w-5/6 right-0;
	bottom: 3%;
	transition: background-color 200ms linear;
	&__msg,
	&__accept-btn {
		transition: transform 300ms ease-out, opacity 100ms linear;

		&.v-enter,
		&.v-leave-to {
			transform: translateY(-15%);
			opacity: 0;
		}

		&.v-enter-to {
			transform: translateX(0%);
			opacity: 1;
		}
	}
	&.is-found {
		@apply bg-primary;
	}
	&__msg {
		@apply font-bold;
	}
	&__timer {
		@apply flex justify-between w-1/3 items-center;
	}

	&__accept-btn {
		@apply font-bold;
	}
}
