html {
	font-family: 'AkzidenzGroteskBQ','Source Sans Pro', -apple-system, BlinkMacSystemFont,
	'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
	font-size: 16px;
	word-spacing: 1px;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	box-sizing: border-box;
}

body {
	background-color: var(--light);
}

hr {
	border-color: var(--gray);
	opacity: 0.3;
}

select {
	width: 100%;
	padding: 0.5rem 0.2rem;
	background: transparent;
	appearance: none;
	position: relative;

	background-image: url('~assets/images/icons/bottom-arrow-short.svg');
	background-repeat: no-repeat;
	padding-right: 1.5rem;
	background-position: center right;
}