@font-face {
	font-family: 'AkzidenzGroteskBQ';
	src: url('/fonts/akzidenzgrotesk-bold-webfont.ttf') format('truetype');
	font-display: swap;
	font-style: normal;
	font-weight: bold;
}

@font-face {
	font-family: 'AkzidenzGroteskBQ';
	src: url('/fonts/akzidenzgrotesk-light-webfont.ttf') format('truetype');
	font-weight: 300;
	font-display: swap;
	font-style: normal;
}

@font-face {
	font-family: 'AkzidenzGroteskBQ';
	src: url('/fonts/akzidenzgrotesk-medium-webfont.ttf') format('truetype');
	font-weight: 500;
	font-display: swap;
	font-style: normal;
}

@font-face {
	font-family: 'AkzidenzGroteskBQ';
	src: url('/fonts/akzidenzgrotesk-regular-webfont.truetype')
		format('truetype');
	font-weight: normal;
	font-display: swap;
	font-style: normal;
}
