:root {
    --red: #E94235;
    --blue: #293894;
    --black: #1B1B1B;
    --light-gray: #DFE0D9;
    --medium-gray: #CFD1C7;
    --gray: #6B6B65;
    --white: #FFFFFF;

    --primary: var(--blue);
    --secondary: var(--red);
    --darker: var(--black);
    --light: var(--light-gray);
    --medium-light: var(--medium-gray);
    --dark: var(--gray);
    --bright: var(--white);
}