<template>
	<section class="select-field">
		<label class="select-field__label">
			<span class="select-field__label-text">
				<slot name="label" />
			</span>
			<div class="select-field__input-wrapper">
				<slot name="select" />
			</div>
		</label>
	</section>
</template>

>

<style lang="scss" scoped>
@import 'select-field';
</style>
