.select-field {
    @apply py-1  border-b-2 border-mediumLight;

    &__label {
        @apply flex justify-between items-center;
    }

    &__input-wrapper {
        @apply w-1/2 py-2;
    }
    &__label-text {
        @apply font-bold;
    }
}