<template>
	<article v-if="!invite" class="lobby-player">
		<img
			class="lobby-player__avatar"
			src="~/assets/images/avatar.png"
			alt="steveroesler"
		/>
		<p class="lobby-player__role">
			Team Leader /
		</p>
		<h3 class="lobby-player__name">steveroesler</h3>

		<section class="lobby-player__status">
			<span class="lobby-player__status-label">Ready</span>
			<span class="lobby-player__level">
				<span class="lobby-player__level-code">G</span>
				<sup>74</sup>
			</span>
		</section>
	</article>
	<article v-else class="lobby-player">
		<div class="lobby-player__avatar-placeholder"></div>
		<p class="lobby-player__role">
			Team Player /
		</p>
		<button class="lobby-player__invite-btn">
			Invite Player
			<Icon
				class="lobby-player__invite-btn-icon"
				name="right-arrow-short"
				label=""
			/>
		</button>
	</article>
</template>

<script>
import Icon from '~/components/icon/icon'
export default {
	components: {
		Icon
	},
	props: {
		invite: {
			type: Boolean,
			default: false,
			required: false
		}
	}
}
</script>

<style lang="sass" scoped>
@import "lobby-player";
</style>
