.lobby-player {
	&__avatar {
		@apply h-56 w-40 object-cover;
	}
	&__role {
		@apply text-dark text-sm mt-4 mb-2;
	}
	&__name {
		@apply font-bold;
	}
	&__status {
		@apply mt-5;
	}
	&__status-label {
		@apply border-darker border-solid border-2 py-0 px-1 text-xs uppercase tracking-wider font-bold mr-2;
	}
	&__level {
		@apply text-secondary tracking-tighter;
	}

	&__level-code {
		@apply font-bold;
	}
	&__avatar-placeholder {
		@apply border-2 opacity-25 border-dark rounded-lg h-56 w-40;
	}

	&__invite-btn {
		@apply font-bold flex items-center;
	}
	&__invite-btn-icon {
		@apply ml-2;
	}
}
