.nav {
    @apply flex justify-between;

    &__brand {
        @apply  bg-darker inline-block;
        img {
            @apply w-24;
        }
    }

    &__menu {
        @apply flex items-center;
    }

    &__menu-button {
        @apply cursor-pointer p-8;
    }

    &__menu-title {
        @apply text-sm p-1 uppercase font-bold;
    }
}