<template>
	<nav class="nav">
		<a class="nav__brand" href="/">
			<img src="~/assets/images/logo.svg" alt="gfinity logo" />
		</a>
		<div class="nav__menu">
			<span class="nav__menu-title"> Fifa 19</span>
			<button class="nav__menu-button">
				<icon name="nav-icon" label="menu toggle icon" />
			</button>
		</div>
	</nav>
</template>

<style lang="scss" scoped>
@import 'navbar';
</style>

<script>
import Icon from '~/components/icon/icon'
export default {
	components: {
		Icon
	}
}
</script>
