<template>
	<section>
		<opponent-search :found="playerFound" />
		<bottom-bar :found="playerFound" />
	</section>
</template>

<script>
import OpponentSearch from '~/components/opponent-search/opponent-search'
import BottomBar from '~/components/bottom-bar/bottom-bar'

export default {
	components: {
		OpponentSearch,
		BottomBar
	},
	data() {
		return {
			bgImg: require('../../assets/images/ronaldo.png'),
			playerFound: false
		}
	},
	mounted() {
		setTimeout(() => {
			this.playerFound = true
		}, 8000)
	},
	head() {
		return {
			bodyAttrs: {
				style: `background-image:  url(${this.bgImg});
                background-position:  217% 45%;
                background-size:  42vh;
				background-repeat: no-repeat;
				background-attachment: fixed;`
			}
		}
	}
}
</script>

<style lang="scss" scoped></style>
