<script>
import Navbar from '~/components/navbar/navbar.vue'
export default {
	components: { Navbar }
}
</script>

<template>
	<div>
		<header>
			<navbar />
		</header>

		<main>
			<nuxt />
		</main>
	</div>
</template>
