<template>
	<section class="relative pb-32">
		<container>
			<section class="lobby-header">
				<button class="back-button">
					<icon name="left-arrow" label="go back" />
				</button>
				<h1 class="lobby-header__title">Matchmaking Lobby</h1>
			</section>
			<hr />
			<section class="user-info">
				<h2 class="user-info__username">
					steveroesler's lobby
				</h2>
				<icon name="lock" label="" />
			</section>
			<section>
				<span class="game-tag">Fifa 19</span>
			</section>

			<section class="py-8 flex">
				<lobby-player class="mr-4" />
				<lobby-player :invite="true" />
			</section>

			<section class="lobby-settings-section">
				<form class="lobby-settings">
					<select-field
						v-for="field in settingFields"
						:key="field.label"
					>
						<span slot="label">{{ field.label }}</span>
						<select slot="select">
							<option
								v-for="option in field.options"
								:key="option.value"
								:value="option.value"
								>{{ option.label }}</option
							>
						</select>
					</select-field>
				</form>
			</section>
		</container>

		<footer class="lobby-footer">
			<container class="lobby-footer__container">
				<n-link to="/search" class="lobby-footer__play-link"
					>Play Now</n-link
				>
				<div class="flex justify-between w-1/2">
					<p>4,021 in Queue</p>
					<n-link to="/search"
						><icon
							class="lobby-footer__next-icon"
							:light="true"
							name="right-arrow"
							label="next"
					/></n-link>
				</div>
			</container>
		</footer>
	</section>
</template>
<script>
import Icon from '~/components/icon/icon'
import Container from '~/components/container/container'
import LobbyPlayer from '~/components/lobby-player/lobby-player'
import SelectField from '~/components/select-field/select-field'

export default {
	components: {
		Icon,
		Container,
		LobbyPlayer,
		SelectField
	},

	data() {
		return {
			bgImg: require('../assets/images/ronaldo.png'),
			settingFields: [
				{
					label: 'Type',
					options: [
						{
							label: 'Competitive',
							value: 'competitive'
						},
						{
							label: 'Friendly',
							value: 'friendly'
						}
					]
				},
				{
					label: 'Gamemode',
					options: [
						{
							label: 'Squad Battles',
							value: 'squad'
						},
						{
							label: 'Head to Head',
							value: 'head-to-head'
						}
					]
				},
				{
					label: 'Lobby Status',
					options: [
						{
							label: 'Invite Only',
							value: 'invite'
						},
						{
							label: 'Free to Play',
							value: 'free'
						}
					]
				}
			]
		}
	},

	head() {
		return {
			bodyAttrs: {
				style: `background-image: url(${this.bgImg});
				background-position: 460% -146%;
				background-size: 41vh;
				background-repeat: no-repeat;
				background-attachment: fixed;`
			}
		}
	}
}
</script>
<style lang="scss">
.lobby-header {
	@apply flex py-4 items-center;
	&__title {
		@apply text-lg;
	}
}
.back-button {
	@apply mr-4 flex items-center;
}
.user-info {
	@apply flex items-center justify-between py-4;

	&__username {
		@apply flex text-3xl font-bold;
	}
}
.game-tag {
	@apply bg-darker text-bright px-1 text-xs py-0 rounded-r-lg;
}
.lobby-settings-section {
	@apply py-4;
}
.lobby-settings {
	@apply border-t-2 border-mediumLight;
}
.lobby-footer {
	@apply bg-primary text-bright absolute bottom-0 w-full h-24 flex items-center;
	&__container {
		@apply flex justify-between py-4;
	}
	&__play-link {
		@apply font-bold;
	}
	&__next-icon {
		@apply py-2 px-3;
	}
}
</style>
