.opponent-search-container {
	@apply mr-8;
}

.opponent-search {
	@apply text-bright relative;

	&__bg {
		mix-blend-mode: multiply;
		@apply bg-primary absolute top-0 left-0 right-0 bottom-0;
		z-index: -1;
		transition: transform 600ms ease-out, opacity 400ms linear;
		&.is-player-found {
			@apply bg-darker;
		}

		&.v-enter {
			transform: translateX(-100%);
			opacity: 0;
		}

		&.v-enter-to {
			transform: translateX(0%);
			opacity: 1;
		}
	}

	&__text {
		@apply py-10;
	}

	&__lobby-title {
		@apply font-bold;
	}

	&__info {
		@apply font-bold text-5xl leading-none my-8;
	}

	&__info, &__msg, &__queue-bar  {
		span {
			display: inline-block;
			transition: transform 300ms ease-out, opacity 100ms linear;

			&.v-enter, &.v-leave-to {
				transform: translateY(-15%);
				opacity: 0;
			}
			
			

			&.v-enter-to {
				transform: translateX(0%);
				opacity: 1;
			}
		}
	}

	&__msg {
		@apply mb-10;
	}

	&__lobby {
		@apply flex items-center mb-8;
	}

	&__avatar {
		@apply ml-8 w-16 h-16 rounded-full border-2 border-bright flex items-center justify-center;
	}

	&__avatar-img {
		@apply w-12 h-12 rounded-full object-cover;
	}

	&__queue {
		@apply flex items-center text-xs;
	}

	&__queue-bar {
		@apply inline-block mr-12 w-5 border-t-2 border-bright;
	}
}

.back-btn {
	@apply bg-darker flex items-center justify-center w-24 h-24;
}
