<template>
	<div class="opponent-search-container">
		<section class="opponent-search">
			<transition>
				<div
					v-if="!found"
					key="not-found"
					class="opponent-search__bg"
				></div>
				<div
					v-else
					key="found"
					class="opponent-search__bg is-player-found"
				></div>
			</transition>
			<n-link to="/" class="back-btn">
				<icon :light="true" name="left-arrow" label="go back" />
			</n-link>
			<section class="opponent-search__text">
				<container>
					<h1 class="opponent-search__lobby-title">
						Matchmaking Lobby
					</h1>
					<h2 class="opponent-search__info">
						<transition mode="out-in">
							<span v-if="!found" key="not-found"
								>Searching for compatible opponents</span
							>
							<span v-else key="found"
								>A match has been found for you!</span
							>
						</transition>
					</h2>
					<p class="opponent-search__msg">
						<transition mode="out-in">
							<span v-if="!found" key="not-found"
								>We're searching our database for players to
								pair you with an opponent of similar skill</span
							>
							<span v-else key="found"
								>We've found a compatible opponent for you to
								play Squad Battles in FIFA 19</span
							>
						</transition>
					</p>
					<div class="opponent-search__lobby">
						<span>Lobby</span>
						<div class="opponent-search__avatar">
							<img
								class="opponent-search__avatar-img"
								src="~/assets/images/avatar.png"
								alt="steveroesler"
							/>
						</div>
					</div>
					<div class="opponent-search__queue">
						<span class="opponent-search__queue-bar"></span>
						<p>
							<transition mode="out-in">
								<span v-if="!found" key="not-found"
									>4,021 in Queue</span
								>
								<span v-else key="found"
									>By tapping accept, you agree to play a
									match that may last for up to 30
									minutes.</span
								>
							</transition>
						</p>
					</div>
				</container>
			</section>
		</section>
	</div>
</template>

<script>
import Container from '~/components/container/container'
import Icon from '~/components/icon/icon'
export default {
	components: {
		Container,
		Icon
	},
	props: {
		found: {
			type: Boolean,
			required: false,
			default: false
		}
	}
}
</script>

<style lang="scss" scoped>
@import 'opponent-search';
</style>
