<template>
	<span
		class="icon"
		:class="{ 'is-light': light }"
		:style="{ backgroundImage: `url(${iconImg})` }"
		:aria-label="label"
	/>
</template>

<script>
export default {
	props: {
		name: {
			type: String,
			required: true
		},
		label: {
			type: String,
			required: true
		},
		light: {
			type: Boolean,
			required: false,
			default: false
		}
	},
	computed: {
		iconImg() {
			if (!this.name) {
				return
			}

			return require(`../../assets/images/icons/${this.name}.svg`)
		}
	}
}
</script>

<style lang="scss" scoped>
@import 'icon';
</style>
